<h1 style="text-align:center;">Laboratorio 5</h1>
<h4 style="text-align:center;">Cristopher Barrios</h4>
<h4 style="text-align:center;">Mariana David</h4>
<h5 style="text-align:center;">1/9/2023</h5>

## Librerias

In [8]:
import pandas as pd
import re

1. Descargue el archivo train.csv

In [9]:
df = pd.read_csv('data/train.csv')

2. Cargue los archivos de datos a R o a Python, dependiendo de con qué trabaje.

In [10]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

3. Limpie y preprocese los datos. Describa de forma detallada las actividades de preprocesamiento 
que llevó a cabo.

3.1.  Se pueden hacer tareas como: 
- Convertir el texto a mayúsculas o a minúsculas

In [11]:
df['text'].str.lower()
df['location'].str.lower()
df['keyword'].str.lower()

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7608    NaN
7609    NaN
7610    NaN
7611    NaN
7612    NaN
Name: keyword, Length: 7613, dtype: object

- Quitar los caracteres especiales que aparecen como “#”,”@” o los apóstrofes.

In [12]:
df.text = df.text.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')
df.location = df.location.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')
df.keyword = df.keyword.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')

C:\Users\cjrba\AppData\Local\Temp\ipykernel_12724\2394621819.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.text = df.text.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')
C:\Users\cjrba\AppData\Local\Temp\ipykernel_12724\2394621819.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.location = df.location.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')
C:\Users\cjrba\AppData\Local\Temp\ipykernel_12724\2394621819.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.keyword = df.keyword.str.replace('[#,@,&,(,),!,?,/,{,},%,!]', '')

- Quitar las url

In [13]:
df.text = [re.sub('\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*','',i) for i in df.text]
df.text = [re.sub(r'^https?:\/\/.*[\r\n]*', '', i) for i in df.text]

- Revisar si hay emoticones y quitarlos

In [14]:
df.text = [re.sub('[^a-zA-Z0-9 ]+','', i) for i in df.text]

- Quitar los signos de puntuación

In [15]:
# Función para quitar signos de puntuación
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# Aplicar la función a la columna 'text'
df['text'] = df['text'].apply(remove_punctuation)

# Mostrar el DataFrame resultante
print(df)

         id keyword location  \
0         1     NaN      NaN
1         4     NaN      NaN
2         5     NaN      NaN
3         6     NaN      NaN
4         7     NaN      NaN
...     ...     ...      ...
7608  10869     NaN      NaN
7609  10870     NaN      NaN
7610  10871     NaN      NaN
7611  10872     NaN      NaN
7612  10873     NaN      NaN

                                                   text  target
0     Our Deeds are the Reason of this earthquake Ma...       1
1                 Forest fire near La Ronge Sask Canada       1
2     All residents asked to shelter in place are be...       1
3     13000 people receive wildfires evacuation orde...       1
4     Just got sent this photo from Ruby Alaska as s...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  ariaahrary TheTawniest The out of control wild...       1
7610  M194 0104 UTC5km S of Volcano Hawaii httptcozD...       1
7611  Police investigating after an ebike collided w...       1
7612  The Latest More Homes Razed by Northern Califo...       1

[7613 rows x 5 columns]

- Quitar los artículos, preposiciones y conjunciones (stopwords)

In [16]:
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
nltk.download('stopwords')  # You might need to download NLTK data for stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\cjrba\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:


stopwords = set(stopwords.words('english') + ['the', 'i', 'a', 'deeds', 'im','rt','jk','btw','lol','yolo','lmao','lmfao','fb','like','get','em', 'I', 'The', 'A', 'Amp', 'amp'])
expresiones = ['im','rt','jk','btw','lol','yolo','lmao','lmfao','fb','like','get','em', 'Im', 'in', 'In', '2']
for i in expresiones:
    stopwords.add(i)

df['text_without_stopwords'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

clean_tweets = df['text_without_stopwords']
print(df['text_without_stopwords'])

0        Our Deeds Reason earthquake May ALLAH Forgive us
1                   Forest fire near La Ronge Sask Canada
2       All residents asked shelter place notified off...
3       13000 people receive wildfires evacuation orde...
4       Just got sent photo Ruby Alaska smoke wildfire...
                              ...
7608    Two giant cranes holding bridge collapse nearb...
7609    ariaahrary TheTawniest control wild fires Cali...
7610    M194 0104 UTC5km S Volcano Hawaii httptcozDtoy...
7611    Police investigating ebike collided car Little...
7612    Latest More Homes Razed Northern California Wi...
Name: text_without_stopwords, Length: 7613, dtype: object

- Quitar números si considera que interferirán en la clasificación (quizá debería valorar 
si quitar o no el 911).

In [18]:
import pandas as pd
import re

# Crear una función para preprocesar el texto
def preprocesar_texto(texto):
    return re.sub(r'\d+', '', texto.lower())

# Suponiendo que ya tienes un DataFrame llamado 'df' con una columna 'text'
df['texto_preprocesado'] = clean_tweets.apply(preprocesar_texto)

# Mostrar las primeras filas para ver los cambios
df[['text', 'texto_preprocesado']].head()

,text,texto_preprocesado
0,Our Deeds are the Reason of this earthquake Ma...,our deeds reason earthquake may allah forgive us
1,Forest fire near La Ronge Sask Canada,forest fire near la ronge sask canada
2,All residents asked to shelter in place are be...,all residents asked shelter place notified off...
3,13000 people receive wildfires evacuation orde...,people receive wildfires evacuation orders ca...
4,Just got sent this photo from Ruby Alaska as s...,just got sent photo ruby alaska smoke wildfire...

In [20]:
#Para observar como va la data
clean_tweets.to_csv('output/newTrain.csv', index=False,encoding='utf-8')





 

 



4. Obtenga la frecuencia de las palabras tanto de los tweets de desastres como de los que no. ¿Qué 
palabras cree que le servirán para hacer un mejor modelo de clasificación?¿vale la pena explorar 
bigramas o trigramas para analizar contexto? 
5. Haga un análisis exploratorio de los datos para entenderlos mejor, documente todos los análisis 
5.1.  Puede, para cada archivo: 
- Investigar qué palabra se repite más en cada una de las categorías 
- Hacer una nube de palabras para visualizar las que aparecen con más frecuencia 
- Hacer un histograma con las palabras que más se repiten
- Discutir sobre las palabras que tienen presencia en todas las categorías. 
- Determinar las palabras positivas, negativas o neutras 
6. Teniendo en cuenta la cantidad de palabras positivas y negativas del tweet determine qué tan 
positivo, negativo o neutral es el mismo. 
7. Luego de analizar los datos determine: 
7.1.  ¿Cuáles son los 10 tweets más negativos?¿En qué categoría están? 
7.2.  ¿Cuáles son los 10 tweets más positivos? ¿En qué categoría están? 
7.3.  ¿Son los tweets de la categoría que indica que habla de un desastre real más negativos que 
los de la otra categoría? 
8. Cree una variable que contenga la “negatividad” de cada tweet.  Inclúyala  en  el  conjunto  de 
datos y entrene nuevamente el modelo de clasificación de la hoja pasada. ¿La inclusión de esta 
variable mejoró los resultados del modelo de clasificación?