<h1 style="text-align:center;">Laboratorio 5</h1>
<h4 style="text-align:center;">Cristopher Barrios</h4>
<h4 style="text-align:center;">Mariana David</h4>
<h5 style="text-align:center;">1/9/2023</h5>

## Librerias

In [2]:
import pandas as pd

1. Descargue el archivo train.csv

In [3]:
df = pd.read_csv('data/train.csv')

2. Cargue los archivos de datos a R o a Python, dependiendo de con qué trabaje.

In [4]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

3. Limpie y preprocese los datos. Describa de forma detallada las actividades de preprocesamiento 
que llevó a cabo.




3.1.  Se pueden hacer tareas como: 
- Convertir el texto a mayúsculas o a minúsculas 
- Quitar los caracteres especiales que aparecen como “#”,”@” o los apóstrofes. 
- Quitar las url 
- Revisar si hay emoticones y quitarlos 
- Quitar los signos de puntuación 
- Quitar los artículos, preposiciones y conjunciones (stopwords) 
- Quitar números si considera que interferirán en la clasificación (quizá debería valorar 
si quitar o no el 911). 
4. Obtenga la frecuencia de las palabras tanto de los tweets de desastres como de los que no. ¿Qué 
palabras cree que le servirán para hacer un mejor modelo de clasificación?¿vale la pena explorar 
bigramas o trigramas para analizar contexto? 
5. Haga un análisis exploratorio de los datos para entenderlos mejor, documente todos los análisis 
5.1.  Puede, para cada archivo: 
- Investigar qué palabra se repite más en cada una de las categorías 
- Hacer una nube de palabras para visualizar las que aparecen con más frecuencia 
- Hacer un histograma con las palabras que más se repiten
- Discutir sobre las palabras que tienen presencia en todas las categorías. 
- Determinar las palabras positivas, negativas o neutras 
6. Teniendo en cuenta la cantidad de palabras positivas y negativas del tweet determine qué tan 
positivo, negativo o neutral es el mismo. 
7. Luego de analizar los datos determine: 
7.1.  ¿Cuáles son los 10 tweets más negativos?¿En qué categoría están? 
7.2.  ¿Cuáles son los 10 tweets más positivos? ¿En qué categoría están? 
7.3.  ¿Son los tweets de la categoría que indica que habla de un desastre real más negativos que 
los de la otra categoría? 
8. Cree una variable que contenga la “negatividad” de cada tweet.  Inclúyala  en  el  conjunto  de 
datos y entrene nuevamente el modelo de clasificación de la hoja pasada. ¿La inclusión de esta 
variable mejoró los resultados del modelo de clasificación?